server:
  port: 8088    #springboot内置tomcat启动端口
logging:
  config: classpath:logback.xml
spring:
  redis:        #redis连接
    host: 127.0.0.1
    password: 12345678
    port: 6379
    database: 0
  datasource:   #mysql连接
    url: jdbc:mysql://127.0.0.1/test?useUnicode=true;characterEncoding=utf8&serverTimezone=GMT%2B8
    username: root
    password: 12345678
    driver-class-name: com.mysql.jdbc.Driver
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp
#jetcache:
#  statIntervalMinutes: 15
#  areaInCacheName: false
#  local:
#    default:
#      type: linkedhashmap      //本地缓存形式
#      keyConvertor: fastjson
#  remote:
#    default:
#      type: redis              //远程缓存指定redis
#      keyConvertor: fastjson
#      valueEncoder: java
#      valueDecoder: java
#      poolConfig:
#        minIdle: 5
#        maxIdle: 20
#        maxTotal: 50
#      host: 127.0.0.1
#      port: 6379
#      password: 12345678
mybatis:
  mapper-locations: classpath:mappers/*.xml  # 生成的mapper.xml位置